@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* title */
h1 {
  color: #243d27;
}
/* whole page */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(219, 240, 227);
  width: 100vw;
  height: 100vh;
}
/* border for heading */
.border {
  padding: 10px 50px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0px 0 40px 0;
}
/* display */
#text-display {
  padding: 25px 250px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  background-color: rgb(233, 236, 233);
  border-radius: 15px;
  padding: 30px;
  margin: 6px;
  box-shadow: 2px 1px 3px 3px #fff;
  color: rgb(3, 55, 55);
  border: 1px solid rgb(143, 169, 148);
  border-radius: 15px;
  overflow: auto;
}
/* not used */
/* .container {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: auto;
  border: 2px solid red;
} */
/* keyboards */
input {
  padding: 30px;
  margin: 6px;
  box-shadow: 2px 1px 3px 3px #fff;
  color: rgb(3, 55, 55);
  border: 1px solid rgb(143, 169, 148);
  border-radius: 15px;
}
input:hover {
  cursor: pointer;
  background-color: #baeec0;
  box-shadow: 2px 1px 3px 3px rgb(103, 123, 105);
}

/* space keyboard */
.space input {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* for rows */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* for space alignment */
.box .space {
  width: 500px;
}
.delete:hover {
  background-color: rgb(255, 106, 106);
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .main-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(219, 240, 227);
    width: 100vw;
    height: 100vh;
    /* padding: 10px;
    margin: 1px; */
  }
}
@media only screen and (max-width: 600px) {
  input {
    padding: 3px;
    margin: 1px;
    box-shadow: 2px 1px 3px 3px #fff;
    color: rgb(3, 55, 55);
    border: 1px solid rgb(143, 169, 148);
    border-radius: 15px;
  }
}
@media only screen and (max-width: 600px) {
  #text-display {
    padding: 2.5px 25px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: rgb(233, 236, 233);
    border-radius: 15px;
    padding: 3px;
    margin: 6px;
    box-shadow: 2px 1px 3px 3px #fff;
    color: rgb(3, 55, 55);
    border: 1px solid rgb(143, 169, 148);
    border-radius: 15px;
    overflow: auto;
  }
}
@media only screen and (max-width: 600px) {
  input::after {
    cursor: pointer;
    background-color: #baeec0;
    box-shadow: 2px 1px 3px 3px rgb(103, 123, 105);
  }
}
@media only screen and (max-width: 600px) {
  .box .space {
    width: 150px;
  }
}
